---
import { Image } from "astro:assets";
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import SmolContainer from "../../components/SmolContainer.astro";

export async function getStaticPaths() {
  const posts = await getCollection("postcards");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={`${post.data.title}, ${post.data.location}`}>
  <SmolContainer>
    <div><a href="/">&lt; Back to all postcards</a></div>
    <div style="display:flex;flex-direction: column;gap:36px">
      <div>
        <h1>{post.data.title}</h1>
        <div class="postcard__meta">
          <span class="postcard__location">
            {post.data.location},
          </span>
          <span class="postcard__date">
            {post.data.dateReceived}
          </span>
        </div>
      </div>
      <article>
        <Image
          class="postcard__image"
          src={post.data.image}
          alt={post.data.imageAltText}
        />
        <Content />
      </article>
    </div>
  </SmolContainer>

  <style>
    h1 {
      font-size: 3rem;
      margin-bottom: 0;
      margin-top: 1rem;

      @media screen and (width > 450px) {
        font-size: 4rem;
      }
    }
    .postcard__image {
      width: 100%; /* Default to fill the width */
      height: auto; /* Maintain aspect ratio */
      max-width: 100%; /* Prevent stretching beyond its container */
      max-height: 75svh; /* Cap the height to the viewport height */
      object-fit: contain; /* Ensure the entire image fits without distortion */
    }

    .postcard__date {
      color: #535353;
    }
    .postcard__meta {
      font-size: 1.5rem;
    }
    .postcard__meta-separator {
      display: none;
      @media screen and (width > 450px) {
        display: initial;
      }
    }
  </style>
</Layout>
